{% extends user.is_authenticated|yesno:'authenticated.html,model.html' %}
{% block content %}

<main class="container-fluid text-center p-0">
  <h1 class="fw-bold text-white m-5">Personal</h1>

  <div class="container-fluid bg-light">
    <div class="container pt-5 pb-5">
      <form method="post" action="" class="container text-start">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-12">
            <h3>Datos Personales</h3>
          </div>
          <div class="col-12">
            <label for="dni" class="form-label">Cédula</label>
            {{ form.dni }}
          </div>
          <div class="col-6">
            <label for="name" class="form-label">Nombre</label>
            {{ form.name }}
          </div>
          <div class="col-6">
            <label for="last_name" class="form-label">Apellido</label>
            {{ form.last_name }}
          </div>
          <div class="col-12">
            <h3>Contacto</h3>
          </div>
          <div class="col-12">
            <label for="email" class="form-label">Correo Electrónico</label>
            {{ form.email }}
          </div>
          <div class="col-3">
            <label for="phone_number" class="form-label">Celular</label>
            <input
              type="text"
              class="form-control text-center"
              placeholder="+593"
              disabled
            />
          </div>
          <div class="col-9">
            <label for="" class="form-label text-light">a</label>
            {{ form.phone_number }}
          </div>
          <div class="col-12">
            <h3>Tipo</h3>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="typeStaffSelect" class="form-label"
                >Tipo de Personal</label
              >
              {{ form.staff_type }}
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
