{% extends 'model.html' %} {% block content %}

<main class="container-fluid text-center p-0">
  <h1 class="fw-bold text-white m-5">Restableces Contraseña</h1>

  <div class="container-fluid bg-light text-center pt-5 pb-5">
    <div class="container" style="height: 64.4vh;display: flex; flex-direction: column; justify-content: center">
      <h1 class="mb-4">¿Olvidaste tu Contraseña?</h1>
      <p>
        Ingrese su dirección de correo electrónico para restablecer su
        contraseña
      </p>
      <form method="post" class="row d-flex justify-content-center">
        {% csrf_token %}
        <div class="w-50">
          {{ form.email }} {% if form.email.errors %}
          <div class="text-danger">{{ form.email.errors }}</div>
          {% endif %}
        </div>
        <div class="col-12 mt-4">
          <button type="submit" class="btn  btn-dark">Enviar correo</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
