{% extends user.is_authenticated|yesno:'authenticated.html,model.html' %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<main class="container-fluid text-center p-0">
  <h1 class="fw-bold text-white m-5">Funciones Brigadas</h1>

  <div class="container-fluid bg-light vh-100">
    {% if messages %} {% for m in messages %}
    <script>
      Swal.fire({
        title: "Exitosamente",
        text: "{{ m }}",
        icon: "success",
      });
    </script>
    {% endfor %} {% endif %}

    <div class="container pt-5 pb-5">
      <div class="row d-flex justify-content-between">
        <form class="col-12 d-flex" role="search" method="GET">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Nombre"
            aria-label="Search"
            name="search_name"
          />
          <button class="btn btn-outline-dark" type="submit">Buscar</button>
        </form>
      </div>
      <div class="container mt-5 mb-5">
        {% for item in items %}
        <div class="row pt-2 pb-2 mt-3 mb-3 shadow-sm rounded">
          <div class="col-10 col-lg-11 text-start">
            {{ item.name }}
          </div>
          <div class="col-2 col-lg-1">
            <a class="text-success" href="{% url 'add_brigade' item.id %}">
                <i class="fa-solid fa-plus"></i>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div>
        {% include '../../util/paginator.html' %}
      </div>
    </div>
  </div>
</main>

{% endblock %}
